<!DOCTYPE html>
<html>
    <head>
        <title>menu</title>
        <link rel="icon" type="images/x-icon" href="../static/FH.png"/>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    </head>
	<style>
		* {
			padding: 0;
			margin: 0;
			box-sizing: border-box;
			font-family: 'josefin sans', sans-serif;
		}

		.sukana {
			height: 100vh;
			width: 100%;
			background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../static/hostel33.jpg);
			background-size: cover;
			background-position: center;
		}
		nav {
			display: flex;
			align-items: end;
			justify-content: space-between;
			padding-top: 10px;
			padding-left: 10%;
			padding-right: 10%;
		}
		logo {
			
		}
	</style>
	<body>
		<div class="sukana">
			<nav>
				<h2 class="logo">FIND HOSTEL</h2>
				<ul>
					<li><a href="#">Home</a></li>
					<li><a href="#">Rooms</a></li>
					<li><a href="#">About</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
			</nav>
		</div>
	</body>
